
  ul {
    list-style: none;
    padding-left: 0;
  }
  
  li {
    padding: 5px;
    margin: 2px;
    width: 26em;
    background-color: #EEE;
  }
  
  li a {
    color: grey;
  }
  
  li:hover {
    background-color: darkolivegreen;
    color: white;
  }
  
  li:hover a {
    color: white;
  }